.toplevel_page_book_a_session p {

    max-width: 800px;

}

.toplevel_page_book_a_session label {

    display: inline-block;
    max-width: 800px;

}

.toplevel_page_book_a_session .media-modal-content p, 
.toplevel_page_book_a_session .media-modal-content label {

    max-width: inherit;

}

:focus {outline:0;}.add-service-location-header {

    position: relative;

}

.checkbox-selector-link {

    position: absolute;
    bottom: 0;
    left: 20px;
    font-weight: normal;

}

.select-all,
.unselect-all,
.select-all-payment-method,
.unselect-all-payment-method,
.select-all-location,
.unselect-all-location,
.select-all-country,
.unselect-all-country {
    font-weight: normal;
}

.select-all:focus,
.unselect-all:focus,
.select-all-payment-method:focus,
.unselect-all-payment-method:focus,
.select-all-location:focus,
.unselect-all-location:focus,
.select-all-country:focus,
.unselect-all-country:focus {
    outline: 0;
    box-shadow: none;
}

p.description.book-a-session-error,
.book-a-session-row-delete
 {

    color: #dc3232;

}

.column-booking_datetime {

    width: 100px;

}

.column-booking_session_date {

    width: 120px;

}

.column-booking_schedule_id {

    width: 100px;

}
.column-booking_session_total {

    width: 100px;
}

.column-actions {

    width: 100px;

}

.column-region_name {

    width: 125px;

}

.column-region_session_price {

    width: 125px;
    
}

td th {

    padding-left: 0 !important;
    padding-top: 0 !important;
    width: 115px !important;

}


td td {

    padding-top: 0 !important;
    
}

.book-a-session-admin-accepted {

    opacity: 1;

}

.book-a-session-admin-declined {

    opacity: .3;

}

.book-a-session-th-explanation p,
.book-a-session-th-explanation li {

    font-weight: normal;

}

td.countries-checkboxes div { 

    height: 450px;
    overflow-y: scroll;
    width: 450px;

}

div.table-countries {
    display: inline-block !important;
    height: 100% !important;
    max-height: 450px !important;
    width: auto !important;
    overflow-y: auto !important;
}

.book-a-session-search {

    width: 450px;

}

.country-label {
    
    display: block;

}

.book-a-session-admin-settings-wrapper {

    display: flex;

}

.book-a-session-admin-settings-content {

    width: calc( 100% - 430px );
    padding-right: 30px;

}

.book-a-session-admin-settings-wrapper .sticky-wrapper {

    width: 400px;
    height: 100%;

}

.sticky-wrapper .book-a-session-admin-settings-sidebar {

    width: 100%;
    height: 100%;

}

.stuck {

    position: fixed;

}

.book-a-session-admin-settings-sidebar.stuck {

    top: 20px;
    right: 20px;
    width: 400px;
    height: 100%;

}

.book-a-session-admin-settings-sidebar table th {

    text-align: left;

}

.book-a-session-admin-settings-sidebar div.card {

    height: calc( 100% - 75px );
    overflow-y: scroll;

}

.book-a-session-admin-settings-sidebar div.card table {

    border-top: 1px solid #cccccc;
    padding-top: 20px;
    margin-top: 20px;
    width: 100%;

}

.book-a-session-admin-settings-sidebar div.card h2 {

    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;

}

.book-a-session-admin-settings-sidebar div.card table td {

    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: top;

}

#order_add_row_session_project td label {

    margin-right: 10px;

}

.wp-core-ui input.button-primary.book_a_session_media_manager {

    margin: 10px 0 0 0;
    display: inline-block;

}

label.book-a-session-sublabel {

    margin-top: 10px;

}

td img {

    width: auto;
    height: 100px;

}